.card {
  background-color: white;
  border-radius: 10px;
  border: solid teal 3px;
  color: teal;
  width: 16%;
  margin: 20px;
  padding-bottom: 10px;
}

.cancel-btn {
  background-color: teal;
  color: white;
  width: 75%;
  border: solid black 1px;
}